.container{
    background-color: #ffffff;

}

.logo{
    margin-right: 20px;
}

.logo-img {
    height: 70px;
    width: 80px;
}

.logo-text {
    font-size: 25px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #673ab7;
    cursor: pointer;
}