<div class="container" fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxflex="25" class="card">
        <mat-card-header>
            <mat-card-title class="title">Register <span>new user</span></mat-card-title>
        </mat-card-header>

        <mat-card-content fxLayout="column" fxLayout.xs="column">
          <form [formGroup]="registerForm" *ngIf="!registered">
            <mat-form-field fxFlexFill >
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
                Name is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('name')?.hasError('invalidName')">
                Name can only contain alphabets and spaces between words
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlexFill >
              <mat-label>Contact</mat-label>
              <input matInput formControlName="contact" required>
              <mat-error *ngIf="registerForm.get('contact')?.hasError('required')">
                Contact is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('contact')?.hasError('invalidContact')">
                Contact must start with 6, 7, 8, or 9 and be 10 digits long. It may optionally start with 0 or +91.
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlexFill >
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                Username is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('username')?.hasError('invalidUsername')">
                Username can only contain alphabets, numbers, '.', and '_'.
              </mat-error>
              <mat-error *ngIf="registerForm.get('username')?.hasError('whitespace')">
                Username cannot be blank
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlexFill>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
              <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('password')?.hasError('whitespace')">
                Password cannot be blank
              </mat-error>
            </mat-form-field>

          <button mat-raised-button color="primary" (click)="register()">Register</button>
          </form>
          <div class="registered" *ngIf="registered">
            <h3>User has been registered successfully</h3>
            <h3>Username: <span>{{ user.username }}</span></h3>
            <h3>Password: <span>{{ user.password }}</span></h3>
          </div>
          <button *ngIf="registered" mat-raised-button color="primary" (click)="registerAgain()">Register new user.</button>
        </mat-card-content>
      </mat-card>
</div>